
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}


form {
    max-width: 600px;
    margin: 0 auto;
   
    padding: 20px;
   
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #726f6f;
   margin: 0px 10px 10px 20px;
   
}
input[type="number"],
input[type="text"],
input[type="date"],

textarea {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
}


.date {
    display: flex;
    margin-bottom: 12px;
}

.date label {
    display: block;
    margin-bottom: 8px;
}

.date input[type="date"] {
    width: calc(50% - 7px); 
    padding: 8px;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button[type="submit"] {
    background-color: #f36507;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #af4c0a;
}
